*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}

/* Fonts */

@font-face {
  font-family: "Yekan";

  src: local("Yekan"),url(../fonts/IRANYekanLight.ttf);

  font-display: swap;
}

@font-face {
  font-family: "Yekan Medium";

  src: local("Yekan"),url(../fonts/IRANYekanMedium.ttf);

  font-display: swap;
}

@font-face {
  font-family: "Yekan Bold";

  src: local("Yekan"),url(../fonts/IRANYekanBold.ttf);

  font-display: swap;
}

@font-face {
  font-family: "Yekan ExtraBold";

  src: local("Yekan"),url(../fonts/IRANYekanExtraBold.ttf);

  font-display: swap;
}

@font-face {
  font-family: "Yekan Regular";

  src: local("Yekan"),url(../fonts/IRANYekanRegular.ttf);

  font-display: swap;
}

@font-face {
  font-family: "Yekan Light";

  src: local("Yekan"),url(../fonts/IRANYekanLight.ttf);

  font-display: swap;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.custom-btm {
  display: flex;
  height: 60px;
  width: 18rem;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border-radius: 0.75rem;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(52 126 255 / var(--tw-border-opacity, 1));
}

.custom-border {
  position: relative;
}

.custom-border::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 60px;
  background-color: #1c5d9f;
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-bottom-1 {
  bottom: -0.25rem;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.left-\[1\.5\%\] {
  left: 1.5%;
}

.left-\[10\%\] {
  left: 10%;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-28 {
  top: 7rem;
}

.-z-10 {
  z-index: -10;
}

.z-10 {
  z-index: 10;
}

.m-0 {
  margin: 0px;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-17 {
  margin-left: 4.25rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mr-17 {
  margin-right: 4.25rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.table-caption {
  display: table-caption;
}

.table-cell {
  display: table-cell;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.\!hidden {
  display: none !important;
}

.hidden {
  display: none;
}

.aspect-\[4\/3\] {
  aspect-ratio: 4/3;
}

.h-1 {
  height: 0.25rem;
}

.h-11 {
  height: 2.75rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-17 {
  height: 4.25rem;
}

.h-2 {
  height: 0.5rem;
}

.h-2\.5 {
  height: 0.625rem;
}

.h-20 {
  height: 5rem;
}

.h-28 {
  height: 7rem;
}

.h-3 {
  height: 0.75rem;
}

.h-32 {
  height: 8rem;
}

.h-52 {
  height: 13rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[160px\] {
  height: 160px;
}

.h-\[169px\] {
  height: 169px;
}

.h-\[187px\] {
  height: 187px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[220px\] {
  height: 220px;
}

.h-\[270px\] {
  height: 270px;
}

.h-\[280px\] {
  height: 280px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[310px\] {
  height: 310px;
}

.h-\[347px\] {
  height: 347px;
}

.h-\[3px\] {
  height: 3px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[45\%\] {
  height: 45%;
}

.h-\[450px\] {
  height: 450px;
}

.h-\[480px\] {
  height: 480px;
}

.h-\[490px\] {
  height: 490px;
}

.h-\[493px\] {
  height: 493px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[54px\] {
  height: 54px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[61px\] {
  height: 61px;
}

.h-\[700px\] {
  height: 700px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[90px\] {
  height: 90px;
}

.h-\[96\%\] {
  height: 96%;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.min-h-\[420px\] {
  min-height: 420px;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/4 {
  width: 25%;
}

.w-1\/5 {
  width: 20%;
}

.w-11 {
  width: 2.75rem;
}

.w-12 {
  width: 3rem;
}

.w-14 {
  width: 3.5rem;
}

.w-16 {
  width: 4rem;
}

.w-17 {
  width: 4.25rem;
}

.w-2 {
  width: 0.5rem;
}

.w-2\.5 {
  width: 0.625rem;
}

.w-20 {
  width: 5rem;
}

.w-28 {
  width: 7rem;
}

.w-3 {
  width: 0.75rem;
}

.w-32 {
  width: 8rem;
}

.w-4 {
  width: 1rem;
}

.w-44 {
  width: 11rem;
}

.w-48 {
  width: 12rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-72 {
  width: 18rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[107px\] {
  width: 107px;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[215px\] {
  width: 215px;
}

.w-\[225px\] {
  width: 225px;
}

.w-\[237px\] {
  width: 237px;
}

.w-\[257px\] {
  width: 257px;
}

.w-\[270px\] {
  width: 270px;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[32\.8\%\] {
  width: 32.8%;
}

.w-\[370px\] {
  width: 370px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[420px\] {
  width: 420px;
}

.w-\[45\%\] {
  width: 45%;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[55\%\] {
  width: 55%;
}

.w-\[550px\] {
  width: 550px;
}

.w-\[570px\] {
  width: 570px;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[660px\] {
  width: 660px;
}

.w-\[720px\] {
  width: 720px;
}

.w-\[796px\] {
  width: 796px;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[880px\] {
  width: 880px;
}

.w-\[890px\] {
  width: 890px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[90px\] {
  width: 90px;
}

.w-\[92\%\] {
  width: 92%;
}

.w-\[95\%\] {
  width: 95%;
}

.w-\[96\%\] {
  width: 96%;
}

.w-\[97\%\] {
  width: 97%;
}

.w-full {
  width: 100%;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-full {
  min-width: 100%;
}

.max-w-\[1400px\] {
  max-width: 1400px;
}

.max-w-\[280px\] {
  max-width: 280px;
}

.max-w-\[550px\] {
  max-width: 550px;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.shrink-0 {
  flex-shrink: 0;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-36 {
  gap: 9rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[18px\] {
  gap: 18px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[60px\] {
  gap: 60px;
}

.overflow-hidden {
  overflow: hidden;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[19px\] {
  border-radius: 19px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[24px\] {
  border-radius: 24px;
}

.rounded-\[32px\] {
  border-radius: 32px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-\[4px\] {
  border-width: 4px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-\[\#1c5d9f\] {
  --tw-border-opacity: 1;
  border-color: rgb(28 93 159 / var(--tw-border-opacity, 1));
}

.border-\[\#1e3a5f\] {
  --tw-border-opacity: 1;
  border-color: rgb(30 58 95 / var(--tw-border-opacity, 1));
}

.border-\[\#347eff\] {
  --tw-border-opacity: 1;
  border-color: rgb(52 126 255 / var(--tw-border-opacity, 1));
}

.border-\[\#5EC9FF\] {
  --tw-border-opacity: 1;
  border-color: rgb(94 201 255 / var(--tw-border-opacity, 1));
}

.border-\[\#6ecff6\] {
  --tw-border-opacity: 1;
  border-color: rgb(110 207 246 / var(--tw-border-opacity, 1));
}

.border-gray-800 {
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity, 1));
}

.bg-\[\#00ff00\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 255 0 / var(--tw-bg-opacity, 1));
}

.bg-\[\#061b3e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(6 27 62 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1e3a5f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 95 / var(--tw-bg-opacity, 1));
}

.bg-\[\#347eff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(52 126 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#549dc6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(84 157 198 / var(--tw-bg-opacity, 1));
}

.bg-\[\#6ecff6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(110 207 246 / var(--tw-bg-opacity, 1));
}

.bg-\[\#726252\] {
  --tw-bg-opacity: 1;
  background-color: rgb(114 98 82 / var(--tw-bg-opacity, 1));
}

.bg-bg-body {
  --tw-bg-opacity: 1;
  background-color: rgb(4 20 48 / var(--tw-bg-opacity, 1));
}

.bg-black\/75 {
  background-color: rgb(0 0 0 / 0.75);
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-l {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-\[\#0a1628\] {
  --tw-gradient-from: #0a1628 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(10 22 40 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#347eff\] {
  --tw-gradient-from: #347eff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(52 126 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#1e3a8a\] {
  --tw-gradient-to: #1e3a8a var(--tw-gradient-to-position);
}

.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.p-14 {
  padding: 3.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-9 {
  padding: 2.25rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-16 {
  padding-left: 4rem;
}

.pl-20 {
  padding-left: 5rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.font-YekanBold {
  font-family: Yekan Bold;
}

.font-YekanExtraBold {
  font-family: Yekan ExtraBold;
}

.font-YekanLight {
  font-family: Yekan Light;
}

.font-YekanRegular {
  font-family: Yekan Regular;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[13pt\] {
  font-size: 13pt;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15pt\] {
  font-size: 15pt;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[21px\] {
  font-size: 21px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[25pt\] {
  font-size: 25pt;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[27px\] {
  font-size: 27px;
}

.text-\[28pt\] {
  font-size: 28pt;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[36px\] {
  font-size: 36px;
}

.text-\[38px\] {
  font-size: 38px;
}

.text-\[39px\] {
  font-size: 39px;
}

.text-\[70pt\] {
  font-size: 70pt;
}

.text-\[clamp\(15px\2c 1\.4vw\2c 20px\)\] {
  font-size: clamp(15px, 1.4vw, 20px);
}

.text-\[clamp\(42px\2c 5vw\2c 70px\)\] {
  font-size: clamp(42px, 5vw, 70px);
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-\[2\.2\] {
  line-height: 2.2;
}

.leading-\[2\.4\] {
  line-height: 2.4;
}

.leading-\[2\] {
  line-height: 2;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-tight {
  line-height: 1.25;
}

.text-\[\#6ecff6\] {
  --tw-text-opacity: 1;
  color: rgb(110 207 246 / var(--tw-text-opacity, 1));
}

.text-\[\#a0b4c8\] {
  --tw-text-opacity: 1;
  color: rgb(160 180 200 / var(--tw-text-opacity, 1));
}

.text-\[\#c8d8ea\] {
  --tw-text-opacity: 1;
  color: rgb(200 216 234 / var(--tw-text-opacity, 1));
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.placeholder-\[\#4a6a8f\]::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(74 106 143 / var(--tw-placeholder-opacity, 1));
}

.placeholder-\[\#4a6a8f\]::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(74 106 143 / var(--tw-placeholder-opacity, 1));
}

.opacity-80 {
  opacity: 0.8;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_8px_\#6ecff6\] {
  --tw-shadow: 0 0 8px #6ecff6;
  --tw-shadow-colored: 0 0 8px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-2 {
  outline-width: 2px;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.brightness-0 {
  --tw-brightness: brightness(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-2xl {
  --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.\!invert {
  --tw-invert: invert(100%) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.\!filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active a {
  position: relative;
  text-decoration: none;
}

.active a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6ecff6;
  display: block;
}

/* Custom Container Size */

.container {
  max-width: 94%;
}

@media (max-width: 768px) {
  .container {
    max-width: 98% !important;
  }
}

/* Video Cover */

.about-video {
  background-image: url("../img/1658830323-S6js.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Mobile Menu Style */

.mobile-menu-btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.mobile-menu-btn::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}

.mobile-menu-btn::after {
  content: '';
  position: absolute;
  top: 19px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}

.mobile-menu-btn {
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-position: 8px 26px;
  background-size: 24px 2px;
}

.mobile-menu{
  width: 300px;
  height: 100%;
  left: -100%;
  position: fixed;
  top: 0;
  z-index: 40;
}

.hover\:border-\[\#6ecff6\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(110 207 246 / var(--tw-border-opacity, 1));
}

.hover\:bg-\[\#6ecff6\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(110 207 246 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[\#0a1628\]:hover {
  --tw-text-opacity: 1;
  color: rgb(10 22 40 / var(--tw-text-opacity, 1));
}

.hover\:opacity-100:hover {
  opacity: 1;
}

.focus\:border-2:focus {
  border-width: 2px;
}

.focus\:border-\[\#6ecff6\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(110 207 246 / var(--tw-border-opacity, 1));
}

.child\:gap-2 > * {
  gap: 0.5rem;
}

.child\:gap-4 > * {
  gap: 1rem;
}

.child\:px-2 > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.child\:py-4 > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.child\:font-YekanBold > * {
  font-family: Yekan Bold;
}

.child\:text-\[29px\] > * {
  font-size: 29px;
}

.child\:text-white > * {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (max-width: 1600px) {
  .\32xl\:left-\[13\%\] {
    left: 13%;
  }

  .\32xl\:mb-0 {
    margin-bottom: 0px;
  }

  .\32xl\:h-6 {
    height: 1.5rem;
  }

  .\32xl\:h-\[170px\] {
    height: 170px;
  }

  .\32xl\:w-10 {
    width: 2.5rem;
  }

  .\32xl\:w-\[100px\] {
    width: 100px;
  }

  .\32xl\:w-\[390px\] {
    width: 390px;
  }

  .\32xl\:w-\[49\.5\%\] {
    width: 49.5%;
  }

  .\32xl\:w-\[80\%\] {
    width: 80%;
  }

  .\32xl\:w-\[85\%\] {
    width: 85%;
  }

  .\32xl\:w-\[95\%\] {
    width: 95%;
  }

  .\32xl\:justify-start {
    justify-content: flex-start;
  }

  .\32xl\:gap-17 {
    gap: 4.25rem;
  }

  .\32xl\:gap-8 {
    gap: 2rem;
  }

  .\32xl\:text-\[15px\] {
    font-size: 15px;
  }

  .\32xl\:text-\[18px\] {
    font-size: 18px;
  }

  .\32xl\:text-\[20pt\] {
    font-size: 20pt;
  }

  .\32xl\:text-\[20px\] {
    font-size: 20px;
  }

  .\32xl\:text-\[30px\] {
    font-size: 30px;
  }

  .\32xl\:child\:text-2xl > * {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (max-width: 1850px) {
  .\33xl\:h-10 {
    height: 2.5rem;
  }

  .\33xl\:h-\[550px\] {
    height: 550px;
  }

  .\33xl\:w-10 {
    width: 2.5rem;
  }

  .\33xl\:w-\[100\%\] {
    width: 100%;
  }

  .\33xl\:w-\[32\%\] {
    width: 32%;
  }

  .\33xl\:w-\[95\%\] {
    width: 95%;
  }

  .\33xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .\33xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .\33xl\:text-\[12px\] {
    font-size: 12px;
  }

  .\33xl\:text-\[15px\] {
    font-size: 15px;
  }

  .\33xl\:leading-\[80px\] {
    line-height: 80px;
  }
}

@media (max-width: 1280px) {
  .desktop\:left-\[17\%\] {
    left: 17%;
  }

  .desktop\:my-7 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }

  .desktop\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .desktop\:flex {
    display: flex;
  }

  .desktop\:hidden {
    display: none;
  }

  .desktop\:h-14 {
    height: 3.5rem;
  }

  .desktop\:h-44 {
    height: 11rem;
  }

  .desktop\:h-\[130px\] {
    height: 130px;
  }

  .desktop\:h-\[140px\] {
    height: 140px;
  }

  .desktop\:h-\[400px\] {
    height: 400px;
  }

  .desktop\:h-\[700px\] {
    height: 700px;
  }

  .desktop\:h-full {
    height: 100%;
  }

  .desktop\:w-14 {
    width: 3.5rem;
  }

  .desktop\:w-\[150px\] {
    width: 150px;
  }

  .desktop\:w-\[200px\] {
    width: 200px;
  }

  .desktop\:w-\[300px\] {
    width: 300px;
  }

  .desktop\:w-\[35\%\] {
    width: 35%;
  }

  .desktop\:w-\[40\%\] {
    width: 40%;
  }

  .desktop\:w-\[49\%\] {
    width: 49%;
  }

  .desktop\:w-\[70px\] {
    width: 70px;
  }

  .desktop\:w-\[90\%\] {
    width: 90%;
  }

  .desktop\:w-full {
    width: 100%;
  }

  .desktop\:max-w-\[220px\] {
    max-width: 220px;
  }

  .desktop\:max-w-full {
    max-width: 100%;
  }

  .desktop\:flex-col {
    flex-direction: column;
  }

  .desktop\:flex-wrap {
    flex-wrap: wrap;
  }

  .desktop\:gap-10 {
    gap: 2.5rem;
  }

  .desktop\:gap-4 {
    gap: 1rem;
  }

  .desktop\:gap-6 {
    gap: 1.5rem;
  }

  .desktop\:p-8 {
    padding: 2rem;
  }

  .desktop\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .desktop\:pt-4 {
    padding-top: 1rem;
  }

  .desktop\:text-justify {
    text-align: justify;
  }

  .desktop\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .desktop\:text-\[10pt\] {
    font-size: 10pt;
  }

  .desktop\:text-\[11px\] {
    font-size: 11px;
  }

  .desktop\:text-\[12px\] {
    font-size: 12px;
  }

  .desktop\:text-\[14px\] {
    font-size: 14px;
  }

  .desktop\:text-\[15px\] {
    font-size: 15px;
  }

  .desktop\:text-\[18pt\] {
    font-size: 18pt;
  }

  .desktop\:text-\[18px\] {
    font-size: 18px;
  }

  .desktop\:text-\[20px\] {
    font-size: 20px;
  }

  .desktop\:text-\[24px\] {
    font-size: 24px;
  }

  .desktop\:text-\[27px\] {
    font-size: 27px;
  }

  .desktop\:text-\[8px\] {
    font-size: 8px;
  }

  .desktop\:text-\[9pt\] {
    font-size: 9pt;
  }

  .desktop\:text-\[9px\] {
    font-size: 9px;
  }

  .desktop\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .desktop\:leading-10 {
    line-height: 2.5rem;
  }

  .desktop\:leading-8 {
    line-height: 2rem;
  }

  .desktop\:leading-\[70px\] {
    line-height: 70px;
  }

  .desktop\:child\:text-\[20px\] > * {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .laptop\:left-\[23\%\] {
    left: 23%;
  }

  .laptop\:mb-0 {
    margin-bottom: 0px;
  }

  .laptop\:mb-4 {
    margin-bottom: 1rem;
  }

  .laptop\:ml-5 {
    margin-left: 1.25rem;
  }

  .laptop\:mt-0 {
    margin-top: 0px;
  }

  .laptop\:mt-3 {
    margin-top: 0.75rem;
  }

  .laptop\:block {
    display: block;
  }

  .laptop\:flex {
    display: flex;
  }

  .laptop\:hidden {
    display: none;
  }

  .laptop\:h-10 {
    height: 2.5rem;
  }

  .laptop\:h-\[110px\] {
    height: 110px;
  }

  .laptop\:h-\[230px\] {
    height: 230px;
  }

  .laptop\:h-\[300px\] {
    height: 300px;
  }

  .laptop\:h-\[500px\] {
    height: 500px;
  }

  .laptop\:h-full {
    height: 100%;
  }

  .laptop\:w-10 {
    width: 2.5rem;
  }

  .laptop\:w-28 {
    width: 7rem;
  }

  .laptop\:w-64 {
    width: 16rem;
  }

  .laptop\:w-\[110px\] {
    width: 110px;
  }

  .laptop\:w-\[200px\] {
    width: 200px;
  }

  .laptop\:w-\[250px\] {
    width: 250px;
  }

  .laptop\:w-\[35\%\] {
    width: 35%;
  }

  .laptop\:w-\[350px\] {
    width: 350px;
  }

  .laptop\:w-\[48\%\] {
    width: 48%;
  }

  .laptop\:w-\[49\%\] {
    width: 49%;
  }

  .laptop\:w-\[52\%\] {
    width: 52%;
  }

  .laptop\:w-\[55px\] {
    width: 55px;
  }

  .laptop\:w-\[65\%\] {
    width: 65%;
  }

  .laptop\:w-\[98\%\] {
    width: 98%;
  }

  .laptop\:w-full {
    width: 100%;
  }

  .laptop\:max-w-\[180px\] {
    max-width: 180px;
  }

  .laptop\:max-w-full {
    max-width: 100%;
  }

  .laptop\:flex-col {
    flex-direction: column;
  }

  .laptop\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .laptop\:flex-wrap {
    flex-wrap: wrap;
  }

  .laptop\:items-center {
    align-items: center;
  }

  .laptop\:justify-center {
    justify-content: center;
  }

  .laptop\:justify-between {
    justify-content: space-between;
  }

  .laptop\:gap-0 {
    gap: 0px;
  }

  .laptop\:gap-10 {
    gap: 2.5rem;
  }

  .laptop\:gap-4 {
    gap: 1rem;
  }

  .laptop\:gap-5 {
    gap: 1.25rem;
  }

  .laptop\:gap-8 {
    gap: 2rem;
  }

  .laptop\:gap-y-4 {
    row-gap: 1rem;
  }

  .laptop\:object-contain {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .laptop\:p-6 {
    padding: 1.5rem;
  }

  .laptop\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .laptop\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .laptop\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .laptop\:py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .laptop\:pl-10 {
    padding-left: 2.5rem;
  }

  .laptop\:pt-0 {
    padding-top: 0px;
  }

  .laptop\:text-right {
    text-align: right;
  }

  .laptop\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .laptop\:text-\[11pt\] {
    font-size: 11pt;
  }

  .laptop\:text-\[15pt\] {
    font-size: 15pt;
  }

  .laptop\:text-\[15px\] {
    font-size: 15px;
  }

  .laptop\:text-\[16px\] {
    font-size: 16px;
  }

  .laptop\:text-\[20px\] {
    font-size: 20px;
  }

  .laptop\:text-\[30px\] {
    font-size: 30px;
  }

  .laptop\:text-\[7px\] {
    font-size: 7px;
  }

  .laptop\:text-\[9px\] {
    font-size: 9px;
  }

  .laptop\:leading-4 {
    line-height: 1rem;
  }

  .laptop\:leading-\[70px\] {
    line-height: 70px;
  }
}

@media (max-width: 630px) {
  .tablet\:mt-9 {
    margin-top: 2.25rem;
  }

  .tablet\:flex {
    display: flex;
  }

  .tablet\:hidden {
    display: none;
  }

  .tablet\:h-7 {
    height: 1.75rem;
  }

  .tablet\:h-\[100px\] {
    height: 100px;
  }

  .tablet\:h-\[210px\] {
    height: 210px;
  }

  .tablet\:h-\[220px\] {
    height: 220px;
  }

  .tablet\:h-\[500px\] {
    height: 500px;
  }

  .tablet\:w-7 {
    width: 1.75rem;
  }

  .tablet\:w-\[140px\] {
    width: 140px;
  }

  .tablet\:w-\[150px\] {
    width: 150px;
  }

  .tablet\:w-\[300px\] {
    width: 300px;
  }

  .tablet\:w-\[45px\] {
    width: 45px;
  }

  .tablet\:w-\[90\%\] {
    width: 90%;
  }

  .tablet\:w-\[90px\] {
    width: 90px;
  }

  .tablet\:w-\[99\%\] {
    width: 99%;
  }

  .tablet\:w-full {
    width: 100%;
  }

  .tablet\:max-w-\[120px\] {
    max-width: 120px;
  }

  .tablet\:flex-row {
    flex-direction: row;
  }

  .tablet\:flex-col {
    flex-direction: column;
  }

  .tablet\:items-center {
    align-items: center;
  }

  .tablet\:justify-center {
    justify-content: center;
  }

  .tablet\:gap-10 {
    gap: 2.5rem;
  }

  .tablet\:gap-3 {
    gap: 0.75rem;
  }

  .tablet\:gap-6 {
    gap: 1.5rem;
  }

  .tablet\:gap-8 {
    gap: 2rem;
  }

  .tablet\:border-0 {
    border-width: 0px;
  }

  .tablet\:border-2 {
    border-width: 2px;
  }

  .tablet\:border-none {
    border-style: none;
  }

  .tablet\:border-\[\#1c5d9f\] {
    --tw-border-opacity: 1;
    border-color: rgb(28 93 159 / var(--tw-border-opacity, 1));
  }

  .tablet\:bg-transparent {
    background-color: transparent;
  }

  .tablet\:p-5 {
    padding: 1.25rem;
  }

  .tablet\:p-6 {
    padding: 1.5rem;
  }

  .tablet\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .tablet\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .tablet\:pl-8 {
    padding-left: 2rem;
  }

  .tablet\:pt-0 {
    padding-top: 0px;
  }

  .tablet\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .tablet\:text-\[10px\] {
    font-size: 10px;
  }

  .tablet\:text-\[12px\] {
    font-size: 12px;
  }

  .tablet\:text-\[15px\] {
    font-size: 15px;
  }

  .tablet\:text-\[16px\] {
    font-size: 16px;
  }

  .tablet\:text-\[18px\] {
    font-size: 18px;
  }

  .tablet\:text-\[22px\] {
    font-size: 22px;
  }

  .tablet\:text-\[5px\] {
    font-size: 5px;
  }

  .tablet\:text-\[6px\] {
    font-size: 6px;
  }

  .tablet\:text-\[8pt\] {
    font-size: 8pt;
  }

  .tablet\:leading-3 {
    line-height: .75rem;
  }

  .tablet\:leading-\[2\] {
    line-height: 2;
  }

  .tablet\:leading-\[60px\] {
    line-height: 60px;
  }
}

@media (max-width: 550px) {
  .mobile\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .mobile\:my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .mobile\:my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .mobile\:my-7 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }

  .mobile\:mb-0 {
    margin-bottom: 0px;
  }

  .mobile\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .mobile\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .mobile\:mb-7 {
    margin-bottom: 1.75rem;
  }

  .mobile\:block {
    display: block;
  }

  .mobile\:flex {
    display: flex;
  }

  .mobile\:hidden {
    display: none;
  }

  .mobile\:h-16 {
    height: 4rem;
  }

  .mobile\:h-24 {
    height: 6rem;
  }

  .mobile\:h-5 {
    height: 1.25rem;
  }

  .mobile\:h-7 {
    height: 1.75rem;
  }

  .mobile\:h-8 {
    height: 2rem;
  }

  .mobile\:h-9 {
    height: 2.25rem;
  }

  .mobile\:h-\[140px\] {
    height: 140px;
  }

  .mobile\:h-\[220px\] {
    height: 220px;
  }

  .mobile\:h-\[250px\] {
    height: 250px;
  }

  .mobile\:h-\[300px\] {
    height: 300px;
  }

  .mobile\:h-\[44px\] {
    height: 44px;
  }

  .mobile\:h-full {
    height: 100%;
  }

  .mobile\:w-1\/3 {
    width: 33.333333%;
  }

  .mobile\:w-20 {
    width: 5rem;
  }

  .mobile\:w-5 {
    width: 1.25rem;
  }

  .mobile\:w-7 {
    width: 1.75rem;
  }

  .mobile\:w-8 {
    width: 2rem;
  }

  .mobile\:w-9 {
    width: 2.25rem;
  }

  .mobile\:w-\[100\%\] {
    width: 100%;
  }

  .mobile\:w-\[115\%\] {
    width: 115%;
  }

  .mobile\:w-\[120px\] {
    width: 120px;
  }

  .mobile\:w-\[70px\] {
    width: 70px;
  }

  .mobile\:w-\[85\%\] {
    width: 85%;
  }

  .mobile\:w-full {
    width: 100%;
  }

  .mobile\:max-w-\[90px\] {
    max-width: 90px;
  }

  .mobile\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .mobile\:flex-col {
    flex-direction: column;
  }

  .mobile\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .mobile\:items-start {
    align-items: flex-start;
  }

  .mobile\:items-center {
    align-items: center;
  }

  .mobile\:justify-start {
    justify-content: flex-start;
  }

  .mobile\:justify-center {
    justify-content: center;
  }

  .mobile\:justify-between {
    justify-content: space-between;
  }

  .mobile\:gap-0 {
    gap: 0px;
  }

  .mobile\:gap-1\.5 {
    gap: 0.375rem;
  }

  .mobile\:gap-2 {
    gap: 0.5rem;
  }

  .mobile\:gap-3 {
    gap: 0.75rem;
  }

  .mobile\:border-2 {
    border-width: 2px;
  }

  .mobile\:border-none {
    border-style: none;
  }

  .mobile\:object-contain {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .mobile\:p-0 {
    padding: 0px;
  }

  .mobile\:p-4 {
    padding: 1rem;
  }

  .mobile\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .mobile\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mobile\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .mobile\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .mobile\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .mobile\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .mobile\:py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .mobile\:pl-16 {
    padding-left: 4rem;
  }

  .mobile\:pt-1 {
    padding-top: 0.25rem;
  }

  .mobile\:text-justify {
    text-align: justify;
  }

  .mobile\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .mobile\:text-\[10pt\] {
    font-size: 10pt;
  }

  .mobile\:text-\[10px\] {
    font-size: 10px;
  }

  .mobile\:text-\[11px\] {
    font-size: 11px;
  }

  .mobile\:text-\[13px\] {
    font-size: 13px;
  }

  .mobile\:text-\[14px\] {
    font-size: 14px;
  }

  .mobile\:text-\[15pt\] {
    font-size: 15pt;
  }

  .mobile\:text-\[20px\] {
    font-size: 20px;
  }

  .mobile\:text-\[28px\] {
    font-size: 28px;
  }

  .mobile\:text-\[6pt\] {
    font-size: 6pt;
  }

  .mobile\:text-\[7pt\] {
    font-size: 7pt;
  }

  .mobile\:text-\[7px\] {
    font-size: 7px;
  }

  .mobile\:text-\[9px\] {
    font-size: 9px;
  }

  .mobile\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .mobile\:leading-4 {
    line-height: 1rem;
  }

  .mobile\:leading-5 {
    line-height: 1.25rem;
  }

  .mobile\:leading-\[1\.8\] {
    line-height: 1.8;
  }
}

.\[\&\>\*\]\:leading-none>* {
  line-height: 1;
}